
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
.godot/
*.import

# Mono-specific ignores
.mono/

# Non-essential files and uids which can cause a lot of noise in git
*.tmp
*.log
*.uid 

# Exclude all the "meta" stuff that is't directly included in the game
/non_game/

# Exclude my own tools
/addons/lbg_tools/
/godot_tools/
/addons/lbg.godot.gdscript.gdtest/

# Assets files
*.png
*.jpg
*.jpeg
*.ogg
*.mp3
*.ttf
*.otf
*.svg

# Exported builds
/bin/
/export/
/build/
*.exe
*.apk
*.pck
*.zip
*.x86_64
*.dmg
*.ios

# Specific files
TODO.md
scratch_pad.gd
